$main-color: #782678;
$second-color: #4267b2;
$bg-color: #f4f2f3;

$desktop-width: 1200px;
$tablet-large-width: 992px;
$tablet-small-width: 768px;

$mobile-large-width: 767px;
$mobile-small-width: 372px;
